spring.application.name=bank-api

#Datasource config:
spring.datasource.driver-class-name=
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

#Hibernate config:
spring.jpa.properties.hibernate.dialect=

#Mail config:
spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=

#JWT secret key config
security.jwt.secret-key=
security.jwt.expiration-time=